In [1]:
import mysql.connector

mydb=mysql.connector.connect(
    host = "127.0.0.1",
    user = "root",
    password = "prabha2512",
    database = "mysql"
)
print("connected")

connected

In [2]:
import pandas as pd
import json
import os
import mysql.connector as sql
import streamlit as st
import plotly.express as px
from streamlit_option_menu import option_menu
from PIL import Image

2026-02-27 17:50:33.651 Thread 'MainThread': missing ScriptRunContext! This warning can be ignored when running in bare mode.

In [5]:


Path1="/Users/prabhakaranp/phonepay_project/pulse/data/aggregated/transaction/country/india/state/"
agg_trans_list=os.listdir(Path1)
agg_trans_list
#Aggregated Transaction list

column1={'States':[], 'Years':[],'Quarter':[],'Transaction_type':[], 'Transaction_count':[], 'Transaction_amount':[]}

for state in agg_trans_list:
    state_1=Path1+state+"/"
    Agg_yr=os.listdir(state_1)
    for years in Agg_yr:
        years_1=state_1+years+"/"
        Agg_yr_list=os.listdir(years_1)
        for file in Agg_yr_list:
            file_1=years_1+file
            Data=open(file_1,'r')
            D=json.load(Data)
            for z in D['data']['transactionData']:
              Name=z['name']
              count=z['paymentInstruments'][0]['count']
              amount=z['paymentInstruments'][0]['amount']
              column1['Transaction_type'].append(Name)
              column1['Transaction_count'].append(count)
              column1['Transaction_amount'].append(amount)
              column1['States'].append(state)
              column1['Years'].append(years)
              column1['Quarter'].append(int(file.strip('.json')))
#Succesfully created a dataframe
Agg_Trans=pd.DataFrame(column1)

Agg_Trans["States"] = Agg_Trans["States"].str.replace("andaman-&-nicobar-islands","Andaman & Nicobar")
Agg_Trans["States"] = Agg_Trans["States"].str.replace("-"," ")
Agg_Trans["States"] = Agg_Trans["States"].str.title()
Agg_Trans['States'] = Agg_Trans['States'].str.replace("Dadra & Nagar Haveli & Daman & Diu", "Dadra and Nagar Haveli and Daman and Diu")

In [13]:
#Aggregated users

Path2="/Users/prabhakaranp/phonepay_project/pulse/data/aggregated/user/country/india/state/"
Agg_user_list=os.listdir(Path2)

column2={'States':[], 'Years':[],'Quarter':[],'Brands':[], 'Transaction_count':[], 'Percentage':[]}

for state in Agg_user_list:
    state_2=Path2+state+"/"
    Agg_yr=os.listdir(state_2)
    for years in Agg_yr:
        years_2=state_2+years+"/"
        Agg_yr_list=os.listdir(years_2)
        for file in Agg_yr_list:
            file_2=years_2+file
            Data2=open(file_2,"r")
            E=json.load(Data2)

            try:
                for z in E['data']['usersByDevice']:
                    brands=z['brand']
                    count=z['count']
                    percentage=z['percentage']
                    column2['Brands'].append(brands)
                    column2['Transaction_count'].append(count)
                    column2['Percentage'].append(percentage)
                    column2['States'].append(state)
                    column2['Years'].append(years)
                    column2['Quarter'].append(int(file.strip('.json')))

            except:
                pass

Agg_user=pd.DataFrame(column2)

Agg_user["States"] = Agg_user["States"].str.replace("andaman-&-nicobar-islands","Andaman & Nicobar")
Agg_user["States"] = Agg_user["States"].str.replace("-"," ")
Agg_user["States"] = Agg_user["States"].str.title()
Agg_user['States'] = Agg_user['States'].str.replace("Dadra & Nagar Haveli & Daman & Diu", "Dadra and Nagar Haveli and Daman and Diu")

In [14]:
#Aggregated insurance

Path3="/Users/prabhakaranp/phonepay_project/pulse/data/aggregated/insurance/country/india/state/"
Agg_insur_list=os.listdir(Path3)

column3= {"States":[], "Years":[], "Quarter":[], "Insurance_type":[], "Insurance_count":[],"Insurance_amount":[] }

for state in Agg_insur_list:
    state_3=Path3+state+"/"
    Agg_yr=os.listdir(state_3)
    for years in Agg_yr:
        years_3=state_3+years+"/"
        Agg_yr_list=os.listdir(years_3)
        for file in Agg_yr_list:
            file_3=years_3+file
            Data3=open(file_3,"r")
            F=json.load(Data3)

            
            for i in F["data"]["transactionData"]:
                Name = i["name"]
                count = i["paymentInstruments"][0]["count"]
                amount = i["paymentInstruments"][0]["amount"]
                column3["Insurance_type"].append(Name)
                column3["Insurance_count"].append(count)
                column3["Insurance_amount"].append(amount)
                column3["States"].append(state)
                column3["Years"].append(years)
                column3["Quarter"].append(int(file.strip(".json")))

Agg_insur=pd.DataFrame(column3)

Agg_insur["States"] = Agg_insur["States"].str.replace("andaman-&-nicobar-islands","Andaman & Nicobar")
Agg_insur["States"] = Agg_insur["States"].str.replace("-"," ")
Agg_insur["States"] = Agg_insur["States"].str.title()
Agg_insur['States'] = Agg_insur['States'].str.replace("Dadra & Nagar Haveli & Daman & Diu", "Dadra and Nagar Haveli and Daman and Diu")

In [15]:
#Map Transaction

Path4="/Users/prabhakaranp/phonepay_project/pulse/data/map/transaction/hover/country/india/state/"
Map_tran_list=os.listdir(Path4)

column4={'States':[], 'Years':[],'Quarter':[],'District':[], 'Transaction_count':[], 'Transaction_amount':[]}

for state in Map_tran_list:
    state_4=Path4+state+"/"
    Map_yr=os.listdir(state_4)
    for years in Map_yr:
        years_4=state_4+years+"/"
        Map_yr_list=os.listdir(years_4)
        for file in Map_yr_list:
            file_4=years_4+file
            Data4=open(file_4,"r")
            J=json.load(Data4)
            
            for z in J['data']['hoverDataList']:
              Name=z['name']
              count=z['metric'][0]['count']
              amount=z['metric'][0]['amount']
              column4['District'].append(Name)
              column4['Transaction_count'].append(count)
              column4['Transaction_amount'].append(amount)
              column4['States'].append(state)
              column4['Years'].append(years)
              column4['Quarter'].append(int(file.strip('.json')))  

Map_trans=pd.DataFrame(column4)

Map_trans["States"] = Map_trans["States"].str.replace("andaman-&-nicobar-islands","Andaman & Nicobar")
Map_trans["States"] =Map_trans["States"].str.replace("-"," ")
Map_trans["States"] = Map_trans["States"].str.title()
Map_trans['States'] = Map_trans['States'].str.replace("Dadra & Nagar Haveli & Daman & Diu", "Dadra and Nagar Haveli and Daman and Diu")

In [16]:
#Map user

Path5="/Users/prabhakaranp/phonepay_project/pulse/data/map/user/hover/country/india/state/"
Map_user_list=os.listdir(Path5)

column5={"States":[], "Years":[], "Quarter":[], "District":[], "RegisteredUser":[], "AppOpens":[]}
for state in Map_user_list:
    state_5=Path5+state+"/"
    Map_yr=os.listdir(state_5)
    for years in Map_yr:
        years_5=state_5+years+"/"
        Map_yr_list=os.listdir(years_5)
        for file in Map_yr_list:
            file_5=years_5+file
            Data5=open(file_5,"r")
            K=json.load(Data5)

            for i in K["data"]["hoverData"].items():
                district = i[0]
                registereduser = i[1]["registeredUsers"]
                appopens = i[1]["appOpens"]
                column5["District"].append(district)
                column5["RegisteredUser"].append(registereduser)
                column5["AppOpens"].append(appopens)
                column5["States"].append(state)
                column5["Years"].append(years)
                column5["Quarter"].append(int(file.strip(".json")))



Map_users=pd.DataFrame(column5)

Map_users["States"] = Map_users["States"].str.replace("andaman-&-nicobar-islands","Andaman & Nicobar")
Map_users["States"] = Map_users["States"].str.replace("-"," ")
Map_users["States"] = Map_users["States"].str.title()
Map_users['States'] = Map_users['States'].str.replace("Dadra & Nagar Haveli & Daman & Diu", "Dadra and Nagar Haveli and Daman and Diu")

In [17]:
#Map Insurance
Path6="/Users/prabhakaranp/phonepay_project/pulse/data/map/insurance/hover/country/india/state/"
Map_insur_list=os.listdir(Path6)

column6= {"States":[], "Years":[], "Quarter":[], "District":[], "Transaction_count":[],"Transaction_amount":[] }

for state in Agg_insur_list:
    state_6=Path6+state+"/"
    Agg_yr=os.listdir(state_6)
    for years in Agg_yr:
        years_6=state_6+years+"/"
        Agg_yr_list=os.listdir(years_6)
        for file in Agg_yr_list:
            file_6=years_6+file
            Data6=open(file_6,"r")
            G=json.load(Data6)

            
            for i in G["data"]["hoverDataList"]:
                    name = i["name"]
                    count = i["metric"][0]["count"]
                    amount = i["metric"][0]["amount"]
                    column6["District"].append(name)
                    column6["Transaction_count"].append(count)
                    column6["Transaction_amount"].append(amount)
                    column6["States"].append(state)
                    column6["Years"].append(years)
                    column6["Quarter"].append(int(file.strip(".json")))

Map_insur=pd.DataFrame(column6)

Map_insur["States"] = Map_insur["States"].str.replace("andaman-&-nicobar-islands","Andaman & Nicobar")
Map_insur["States"] = Map_insur["States"].str.replace("-"," ")
Map_insur["States"] = Map_insur["States"].str.title()
Map_insur['States'] = Map_insur['States'].str.replace("Dadra & Nagar Haveli & Daman & Diu", "Dadra and Nagar Haveli and Daman and Diu")

In [18]:
#Top transaction
Path7="/Users/prabhakaranp/phonepay_project/pulse/data/top/transaction/country/india/state/"
Top_tran_list=os.listdir(Path7)

column7={"States":[], "Years":[], "Quarter":[], "Pincodes":[], "Transaction_count":[], "Transaction_amount":[]}

for state in Top_tran_list:
    state_7=Path7+state+"/"
    Top_yr=os.listdir(state_7)
    for years in Top_yr:
        years_7=state_7+years+"/"
        Top_yr_list=os.listdir(years_7)
        for file in Top_yr_list:
            file_7=years_7+file
            Data7=open(file_7,"r")
            H=json.load(Data7)
            
            for i in H["data"]["pincodes"]:
                entityName = i["entityName"]
                count = i["metric"]["count"]
                amount = i["metric"]["amount"]
                column7["Pincodes"].append(entityName)
                column7["Transaction_count"].append(count)
                column7["Transaction_amount"].append(amount)
                column7["States"].append(state)
                column7["Years"].append(years)
                column7["Quarter"].append(int(file.strip(".json")))  

Top_trans=pd.DataFrame(column7)

Top_trans["States"] = Top_trans["States"].str.replace("andaman-&-nicobar-islands","Andaman & Nicobar")
Top_trans["States"] = Top_trans["States"].str.replace("-"," ")
Top_trans["States"] = Top_trans["States"].str.title()
Top_trans['States'] = Top_trans['States'].str.replace("Dadra & Nagar Haveli & Daman & Diu", "Dadra and Nagar Haveli and Daman and Diu")

In [19]:
#Top user
Path8="/Users/prabhakaranp/phonepay_project/pulse/data/top/user/country/india/state/"
Top_user_list=os.listdir(Path8)

column8={"States":[], "Years":[], "Quarter":[], "Pincodes":[], "RegisteredUser":[]}

for state in Top_user_list:
    state_8=Path8+state+"/"
    Map_yr=os.listdir(state_8)
    for years in Map_yr:
        years_8=state_8+years+"/"
        Map_yr_list=os.listdir(years_8)
        for file in Map_yr_list:
            file_8=years_8+file
            Data8=open(file_8,"r")
            S=json.load(Data8)

            for i in S["data"]["pincodes"]:
                name = i["name"]
                registeredusers = i["registeredUsers"]
                column8["Pincodes"].append(name)
                column8["RegisteredUser"].append(registeredusers)
                column8["States"].append(state)
                column8["Years"].append(years)
                column8["Quarter"].append(int(file.strip(".json")))


Top_users=pd.DataFrame(column8)

Top_users["States"] = Top_users["States"].str.replace("andaman-&-nicobar-islands","Andaman & Nicobar")
Top_users["States"] = Top_users["States"].str.replace("-"," ")
Top_users["States"] = Top_users["States"].str.title()
Top_users['States'] = Top_users['States'].str.replace("Dadra & Nagar Haveli & Daman & Diu", "Dadra and Nagar Haveli and Daman and Diu")

In [20]:
#Top insurance

Path9="/Users/prabhakaranp/phonepay_project/pulse/data/top/insurance/country/india/state/"
Top_insur_list=os.listdir(Path8)

column9= {"States":[], "Years":[], "Quarter":[], "Pincodes":[], "Transaction_count":[], "Transaction_amount":[]}

for state in Top_insur_list:
    state_9=Path9+state+"/"
    Agg_yr=os.listdir(state_9)
    for years in Agg_yr:
        years_9=state_9+years+"/"
        Agg_yr_list=os.listdir(years_9)
        for file in Agg_yr_list:
            file_9=years_9+file
            Data9=open(file_9,"r")
            P=json.load(Data9)

            
            for i in P["data"]["pincodes"]:
                entityName = i["entityName"]
                count = i["metric"]["count"]
                amount = i["metric"]["amount"]
                column9["Pincodes"].append(entityName)
                column9["Transaction_count"].append(count)
                column9["Transaction_amount"].append(amount)
                column9["States"].append(state)
                column9["Years"].append(years)
                column9["Quarter"].append(int(file.strip(".json")))


Top_insur=pd.DataFrame(column9)

Top_insur["States"] =Top_insur["States"].str.replace("andaman-&-nicobar-islands","Andaman & Nicobar")
Top_insur["States"] = Top_insur["States"].str.replace("-"," ")
Top_insur["States"] = Top_insur["States"].str.title()
Top_insur['States'] = Top_insur['States'].str.replace("Dadra & Nagar Haveli & Daman & Diu", "Dadra and Nagar Haveli and Daman and Diu")
Top_users["States"] = Top_users["States"].str.replace("-"," ")
Top_users["States"] = Top_users["States"].str.title()
Top_users['States'] = Top_users['States'].str.replace("Dadra & Nagar Haveli & Daman & Diu", "Dadra and Nagar Haveli and Daman and Diu")

In [22]:
#Table Creation
#Mysql connection

mydb = sql.connect(host = "127.0.0.1",
                   user = "root",
                   password = "prabha2512",
                   database = "phonepe")
mycursor = mydb.cursor(buffered=True)
cursor = mydb.cursor()

if mydb.is_connected():
            print("Successfully connected to MySQL database")
            cursor = mydb.cursor()
            


#aggregated insurance table
create_query7= '''CREATE TABLE if not exists aggregated_insurance (States varchar(50),
                                                                      Years int,
                                                                      Quarter int,
                                                                      Insurance_type varchar(50),
                                                                      Insurance_count bigint,
                                                                      Insurance_amount bigint
                                                                      )'''
cursor.execute(create_query7)
mydb.commit()

for index,row in Agg_insur.iterrows():
    insert_query7 = '''INSERT INTO aggregated_insurance (States, Years, Quarter, Insurance_type, Insurance_count, Insurance_amount)
                                                        values(%s,%s,%s,%s,%s,%s)'''
    values = (row["States"],
              row["Years"],
              row["Quarter"],
              row["Insurance_type"],
              row["Insurance_count"],
              row["Insurance_amount"]
              )
    cursor.execute(insert_query7,values)
    mydb.commit()

    #aggregated transaction table
create_query1 = '''CREATE TABLE if not exists aggregated_transaction (States varchar(50),
                                                                      Years int,
                                                                      Quarter int,
                                                                      Transaction_type varchar(50),
                                                                      Transaction_count bigint,
                                                                      Transaction_amount bigint
                                                                      )'''
cursor.execute(create_query1)
mydb.commit()

for index,row in Agg_Trans.iterrows():
    insert_query1 = '''INSERT INTO aggregated_transaction (States, Years, Quarter, Transaction_type, Transaction_count, Transaction_amount)
                                                        values(%s,%s,%s,%s,%s,%s)'''
    values = (row["States"],
              row["Years"],
              row["Quarter"],
              row["Transaction_type"],
              row["Transaction_count"],
              row["Transaction_amount"]
              )
    cursor.execute(insert_query1,values)
    mydb.commit()


#aggregated user table
create_query2 = '''CREATE TABLE if not exists aggregated_user (States varchar(50),
                                                                Years int,
                                                                Quarter int,
                                                                Brands varchar(50),
                                                                Transaction_count bigint,
                                                                Percentage float)'''
cursor.execute(create_query2)
mydb.commit()

for index,row in Agg_user.iterrows():
    insert_query2 = '''INSERT INTO aggregated_user (States, Years, Quarter, Brands, Transaction_count, Percentage)
                                                    values(%s,%s,%s,%s,%s,%s)'''
    values = (row["States"],
              row["Years"],
              row["Quarter"],
              row["Brands"],
              row["Transaction_count"],
              row["Percentage"])
    cursor.execute(insert_query2,values)
    mydb.commit()


#map_insurance_table
create_query8 = '''CREATE TABLE if not exists map_insurance (States varchar(50),
                                                                Years int,
                                                                Quarter int,
                                                                District varchar(50),
                                                                Transaction_count bigint,
                                                                Transaction_amount float)'''
cursor.execute(create_query8)
mydb.commit()

for index,row in Map_insur.iterrows():
            insert_query8 = '''
                INSERT INTO map_insurance (States, Years, Quarter, District, Transaction_count, Transaction_amount)
                VALUES (%s, %s, %s, %s, %s, %s)

            '''
            values = (
                row['States'],
                row['Years'],
                row['Quarter'],
                row['District'],
                row['Transaction_count'],
                row['Transaction_amount']
            )
            cursor.execute(insert_query8,values)
            mydb.commit()


#map_transaction_table
create_query3 = '''CREATE TABLE if not exists map_transaction (States varchar(50),
                                                                Years int,
                                                                Quarter int,
                                                                District varchar(50),
                                                                Transaction_count bigint,
                                                                Transaction_amount float)'''
cursor.execute(create_query3)
mydb.commit()

for index,row in Map_trans.iterrows():
            insert_query3 = '''
                INSERT INTO map_Transaction (States, Years, Quarter, District, Transaction_count, Transaction_amount)
                VALUES (%s, %s, %s, %s, %s, %s)

            '''
            values = (
                row['States'],
                row['Years'],
                row['Quarter'],
                row['District'],
                row['Transaction_count'],
                row['Transaction_amount']
            )
            cursor.execute(insert_query3,values)
            mydb.commit()


#map_user_table
create_query4 = '''CREATE TABLE if not exists map_user (States varchar(50),
                                                        Years int,
                                                        Quarter int,
                                                        District varchar(50),
                                                        RegisteredUser bigint,
                                                        AppOpens bigint)'''

cursor.execute(create_query4)
mydb.commit()

for index,row in Map_users.iterrows():
    insert_query4 = '''INSERT INTO map_user (States, Years, Quarter, District, RegisteredUser, AppOpens)
                        values(%s,%s,%s,%s,%s,%s)'''
    values = (row["States"],
              row["Years"],
              row["Quarter"],
              row["District"],
              row["RegisteredUser"],
              row["AppOpens"])
    cursor.execute(insert_query4,values)
    mydb.commit()


#top_insurance_table
create_query9 = '''CREATE TABLE if not exists top_insurance (States varchar(50),
                                                                Years int,
                                                                Quarter int,
                                                                Pincodes int,
                                                                Transaction_count bigint,
                                                                Transaction_amount bigint)'''
cursor.execute(create_query9)
mydb.commit()

for index,row in Top_insur.iterrows():
    insert_query9 = '''INSERT INTO top_insurance (States, Years, Quarter, Pincodes, Transaction_count, Transaction_amount)
                                                    values(%s,%s,%s,%s,%s,%s)'''
    values = (row["States"],
              row["Years"],
              row["Quarter"],
              row["Pincodes"],
              row["Transaction_count"],
              row["Transaction_amount"])
    cursor.execute(insert_query9,values)
    mydb.commit()


#top_transaction_table
create_query5 = '''CREATE TABLE if not exists top_transaction (States varchar(50),
                                                                Years int,
                                                                Quarter int,
                                                                pincodes int,
                                                                Transaction_count bigint,
                                                                Transaction_amount bigint)'''
cursor.execute(create_query5)
mydb.commit()

for index,row in Top_trans.iterrows():
    insert_query5 = '''INSERT INTO top_transaction (States, Years, Quarter, Pincodes, Transaction_count, Transaction_amount)
                                                    values(%s,%s,%s,%s,%s,%s)'''
    values = (row["States"],
              row["Years"],
              row["Quarter"],
              row["Pincodes"],
              row["Transaction_count"],
              row["Transaction_amount"])
    cursor.execute(insert_query5,values)
    mydb.commit()

#top_user_table
create_query6 = '''CREATE TABLE if not exists top_user (States varchar(50),
                                                        Years int,
                                                        Quarter int,
                                                        Pincodes int,
                                                        RegisteredUser bigint
                                                        )'''
cursor.execute(create_query6)
mydb.commit()

for index,row in Top_users.iterrows():
    insert_query6 = '''INSERT INTO top_user (States, Years, Quarter, Pincodes, RegisteredUser)
                                            values(%s,%s,%s,%s,%s)'''
    values = (row["States"],
              row["Years"],
              row["Quarter"],
              row["Pincodes"],
              row["RegisteredUser"])
    cursor.execute(insert_query6,values)
    mydb.commit()

Successfully connected to MySQL database